<%- include("./layouts/header.ejs") %>
<%- include("./layouts/navbar.ejs") %> 

  <div class="container">
    <div class="row">
      <div class="col-sm-5 mt-5">
        <h2 class="alert alert-success text-center">Return Book</h2>
        <form method="POST">
          <div class="mb-3">
            <label for="studentName" class="form-label">Student Name</label>
            <input type="text" class="form-control" name="studentName" value="<%= borrowBook.studentName %>" />
          </div>
          <div class="mb-3">
            <label for="studentId" class="form-label">Student ID</label>
            <input type="text" class="form-control" name="studentId" value="<%= borrowBook.studentId %>"/>
          </div>
          <div class="mb-3">
            <label for="bookName" class="form-label">Book name</label>
            <input type="text" class="form-control" name="bookName" value="<%= borrowBook.bookName.name %>" readonly>
          </div>
          <div class="mb-3">
            <label for="quantity" class="form-label">Quantity</label>
            <input type="number" class="form-control" name="quantity" value="<%= borrowBook.quantity %>"/>
          </div>
          <div class="mb-3">
            <label for="borrowDate" class="form-label">Borrow Date</label>
            <input type="text" class="form-control" name="borrowDate" value="<%= borrowBook.borrowDate%>"/>
          </div>
          <button type="submit" class="btn btn-primary">Return</button>
          <button type="submit" class="btn btn-secondary">Back to List</button>
        </form>
      </div>
    </div>
  </div>

  <%- include("./layouts/footer.ejs") %>